$link-color : #A8ABB2;
$title-1 : #8bd47dff;
$title-2 : #2ea889ff;
$title-3 : #00777dff;


.customHeader {
    position: fixed;
    top: 0;
    height: 100%;
    margin: 0;
    padding-left: 30px;
    display: inline-table;
}

.headerContainer {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.avatarImg {
    width: 165px;
    border-radius: 100px;
    border: 5px solid $title-1;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #1a1824d7;
}

.customNav {
    text-align: center;
}

.customUl {
    //list-style-type: square;
    list-style-type: none;
    color: $link-color;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

@media only screen and (max-width: 768px) {
    .customHeader {
        position: absolute;
        visibility: hidden;
        margin: 0;
        left: 0;
        top: 0;
    }
}

/*
.list-element {
    text-decoration: none;
}

.list-element:hover {
    color: white;
}
*/


