$link-color : #A8ABB2;


.customHeader {
    position: fixed;
    left: 30px;
    top: 35%;
}

.customNav {
    text-align: center;
}

.customUl {
    //list-style-type: square;
    list-style-type: none;
    color: $link-color;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

@media only screen and (max-width: 768px) {
    .customHeader {
        position: absolute;
        visibility: hidden;
        margin: 0;
        left: 0;
        top: 0;
    }
}

/*
.list-element {
    text-decoration: none;
}

.list-element:hover {
    color: white;
}
*/


