$link-color : #A8ABB2;


header {
    position: fixed;
    left: 30px;
    top: 35%;
}

nav {
    text-align: center;
}

ul {
    //list-style-type: square;
    list-style-type: none;
    color: $link-color;
}

@media only screen and (max-width: 768px) {
    header {
        position: absolute;
        visibility: hidden;
        margin: 0;
        left: 0;
        top: 0;
    }
}

/*
.list-element {
    text-decoration: none;
}

.list-element:hover {
    color: white;
}
*/


