.socials ul {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
    display: table;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.socials {
    text-align: center;
    font-size: 110%;
    
    li {
        padding: 10px;
        display: inline-block;
    }

    text {
        font-size: 60%;;
    }
}